.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    column-gap: 24px;
    position: relative;
    width: 100%;
    height: calc(100vh - 110px);
    overflow-y: auto;
}

.main::-webkit-scrollbar {
    display: none;
  }

@media screen and (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 24px;
        position: relative;
        width: 100%;
        row-gap: 50px;
        height: calc(100vh - (110px + 44.5px + 36px + 36px))
    }
}