.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0067a3;
  padding: 20px;
}

.logo {
  font-size: 1.75rem;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 430px) {
  .logo {
    display: none;
  }
}
