.footer {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-height: 55px;
    background-color: #0067A3;
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 1rem;
}

.taskStatusCount {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 335px;
    gap: 5px;
}

@media screen and (max-width: 768px) {
    .footer {
      background-color: #0079BF;
      font-size: .6rem;
      gap: 2px;
    }
  }