
.profileMenu {
    position: relative;
    z-index: 0;
    margin-left: auto;
    font-size: 14px;
    line-height: 16px;
  }
  
  .innerContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 6px;
  }

  .avContainer {
    content: "";
    background: no-repeat url("./../../../public/user-avatar.svg") center;
    background-size: cover;
    background-color: #ffffff;
    border-radius: 50px;
    width: 38.4px;
    height: 38.4px;
  }
  
  .dropDownBtn {
    all: unset;
  }
  
  .dropDown {
    display: block;
    padding: 7px 8px;
    min-width: 134px;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 125%;
    right: 0;
    z-index: 99;
  }
  
  .dropDown > ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    row-gap: 3px;
  }
  
  .dropDown>ul>li {
    display: block;
    list-style-type: none;
    min-width: 100%;
    color: #000000;
    height: 22px;
    cursor: url("./../../../public/cursor-pointer.svg"), pointer;
    transition: all ease-in-out .5s;
  }

  .dropDown>ul>li:hover {
    display: block;
    color: #0079BF;
    transform: translateX(5px);
  }
  
  .pimple {
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    transform: rotate(45deg);
    position: absolute;
    top: -5.5px;
    right: calc(58px - 20px - 5.5px);
  }
  
  .dropDownItem > button {
    all: unset;
  }